@page
@model HR.Pages.Employees.IndexModel

@{
    ViewData["Title"] = "Cadets";
}

<div class="formBody">
    <div class="title formListTitle">
        <h2>Currently enrolled cadets</h2>
        <h3>This could be you! Have you signed up yet? If not, go to the Enlist page and sign up now. What are you waiting for? This is a once in a lifetime opportunity!</h3>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Employee[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employee[0].Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employee[0].Department)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Employee)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
